[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
wilds = {path = "./wilds"}
transformers = "*"
torchvision = "==0.10"
scipy = "*"
matplotlib = "*"
tensorflow = "*"

[dev-packages]
jupyterlab = "*"

[requires]
python_version = "3.7"
